@font-face {
    font-family: 'Apercu Mono Pro';
    src: url('assets/fonts/apercu_mono_pro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plakat Grotesk Bold';
    src: url('assets/fonts/plakat_grotesk_bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Apercu Mono Pro', monospace;
    text-transform: uppercase;
    font-weight: 100;
    padding: 0;
    margin: 0;
    font-size:14px !important;
    overflow-x: hidden;
}

button {
    font-family: 'Apercu Mono Pro', monospace;
}

h1 {
    font-family: 'Plakat Grotesk Bold', monospace;
    font-weight: 800;
}

a { outline: none; }

html {
    -webkit-tap-highlight-color: transparent;
}

.menu-modal {
    overflow: hidden;
    font-family: 'Plakat Grotesk Bold', monospace;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s;
}

.main-content {
    padding: 0 30px;
}

.menu-content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    flex-grow: 1;
}

.menu-content a {
    all: unset;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 12em;
    margin:-25px;
    text-align: center;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.accordion-container {
    padding: 20px 28px;
}

.accordion {
    font-family: 'Plakat Grotesk Bold', monospace;
    @media (min-width: 844px) {
        font-size: 12em;
    }
    @media (max-width: 844px) {
        font-size: 5em;
    }
    background-color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid black;
}

.nav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0;
    background-color: #fff;
}

.nav a {
    text-decoration: none;
    color: black;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.tagline {
    font-family: 'Plakat Grotesk Bold', monospace;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media (min-width: 844px) {
        min-height: 700px;
    }
    /*@media (max-width: 844px) {*/
    /*    min-height:250px;*/
    /*}*/
    width: 100%;
}

.small-tagline{
    @media (min-width: 844px) {
        min-height: 350px;
    }
}

.tagline p {
    font-size: 5em;
    line-height:72px;
    /*margin: 0;*/
}

.hero {
    text-align: center;
    color: white;
}

.hero .hero-img {
    width: 100%;
    height: auto;
}

main {
    /*margin-top:80px;*/
}

.content {
    padding: 10px 0;
}

.content p {
    align-content: center;
}

.identity {
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-self: center;
}

.action-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: center;
    padding: 10px;
    margin-top:40px;
}

.action-btn {
    border: 2px solid black;
    padding: 25px 40px;
    background-color: white;
    font-size: 14px;
    width:170px;
}

.section-img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top:100px;
}

.section-img img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.pricing {
    display: flex;
    height:70px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

footer {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    width: 100%;
    margin-top:100px;
}

.footer-container {
    @media (min-width: 844px) {
        display: flex;
        justify-content: space-between;
    }
    text-align: left;
    margin: 0 auto;
    padding: 35px;
}

.footer-column a {
    cursor: pointer;
    font-family: 'Apercu Mono Pro', monospace;
    all: unset;
    display: block;
    margin: 5px 0;
}

.footer-column p {
    margin:4px;
}

.footer-bottom {
    text-align: left;
    padding: 0 35px 10px;
}

.person-image {
    width: 100%;
    display: block;
    margin-left: auto;
}

.desktop {
    @media (max-width: 844px) {
        height:0 !important;
        width: 0 !important;
        opacity:0;
    }
}

.mobile {
    @media (min-width: 844px) {
        height:0 !important;
        width: 0 !important;
        opacity:0;
    }
}

.sticky {
    box-sizing: border-box;
    position: fixed;
    width:100%;
    top:0;
}

@media (min-width: 844px) {
    .gallery {
        display: grid;
        justify-content: center;
        grid-template-columns: 25% 24% 24% 24%;
        gap: 10px;
    }

    .info {
        width: 100%;
        display: inline-flex;
    }

    .info img {
        width: 49.7%;
        margin-top:10px;
        height: 50%;
    }

    .info h1 {
        font-size: 3em;
        line-height: 35px;
    }

    .tagline h1 {
        font-size: 10em;
        margin:0;
    }

    .description {
        text-align: left;
        padding-right: 2px;
    }

    .stack {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery img {
        width: 100%;
        height: 100%;
    }

    .box {
        width: 200px;
        height: 100px;
        padding: 10px;
        margin: 10px;
    }

    .contact-form {
        max-width:90%;
        padding: 20px;
        margin-top: 60px;
    }

    .contact-form label {
        display: block;
        text-align: left;
        margin-top: 20px;
        font-size: 14px;
        font-weight: bold;
    }

    .contact-form input[name="name"],
    .contact-form input[name="email"],
    .contact-form input[name="phone"],
    .contact-form textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        outline: none;
        border:none;
        border-bottom: 1px solid black;
        resize: none;
    }

    .contact-form button {
        padding: 20px 50px 20px;
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 20px;
    }

    .contact-form button:hover {
        background-color: #333;
    }

    .custom-checkbox {
        position: relative;
        display: flex; /* Changed from inline-block to flex */
        align-items: center; /* Vertically center aligns the text and checkbox */
        cursor: pointer;
        width: auto; /* Allow width to adjust based on content */
        height: 20px; /* Keep your fixed height */
        margin-bottom: 20px;
    }

    .custom-checkbox input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .custom-checkbox .checkmark {
        position: relative; /* Adjusted to position relative to the flex container */
        height: 20px;
        width: 20px;
        background-color: #fff;
        border: 1px solid #000;
        display: flex; /* Aligns the pseudo-elements inside this container */
        justify-content: center; /* Centers horizontally */
        align-items: center; /* Centers vertically */
    }

    .custom-checkbox .checkmark::before,
    .custom-checkbox .checkmark::after {
        content: '';
        position: absolute;
        width: 0.5px;
        height: 60%; /* Adjusted relative size to the checkbox */
        background-color: black;
        display: none; /* Hidden by default */
    }

    .custom-checkbox .checkmark::before {
        transform: rotate(45deg) scale(2.3);
    }

    .custom-checkbox .checkmark::after {
        transform: rotate(-45deg) scale(2.3);
    }

    .custom-checkbox input[type="checkbox"]:checked + .checkmark::before,
    .custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
        display: block;
    }

    .form-hack {
        display: inline-flex;
        flex-wrap: nowrap;
        width: 100%;
    }

    .form-hack label {
        width: 20%;
    }
    .form-hack p {
        white-space: nowrap;
        text-align: left;
        margin-left: 10px;
        margin-top: 15px;
    }

    .submit-wrapper {
        display: flex;
        margin-top: 20px;
    }

    #get-in-touch {
        width:100%;
        display: inline-flex;
        flex-wrap: wrap;
        text-align: left;
        padding: 10px;
    }

    #get-in-touch div {
        width: 50%;
    }

    #get-in-touch h1 {
        text-align: left;
        font-size: 5vw;
    }

    .reduced {
        line-height: 0.8;
    }

    .align-end {
        align-self: flex-end;
    }


    .white-letters {
        align-items: flex-start !important;
        padding: 0 30px 0;
        height: auto;
        background-color: black;
    }

    .white-letters a {
        font-family: 'Apercu Mono Pro', monospace;
        text-decoration: none;
        color: white;
        padding-top: 30px;
    }

    .white-letters .logo {
        color: white;
    }
}




